<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/5fe7501939.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Brandon Altamirano</title>
  </head>
  <body>
    <div class="container">
      <%- include('./sidebar.ejs') %>
      <%- include('./navbar.ejs') %>
      <div class="content-cont">
        <main class="content">
          <section class="margin-top"></section>
          <section class="introduction" id="about">
            <div class="text-xl py-1">Welcome 👋</div>
            <div class="text-5xl font-bold">I'm Brandon Altamirano</div>
            <div class="text-3xl py-3 font-bold">Software Engineer</div>
            <div class="py-2">
              <text class="text-lg"
                >I'm a Full Stack Developer with a background in Computer
                Science from San Diego State University. I specialize in
                building scalable web applications using Python/Django for the
                backend and React for the frontend. With experience in designing
                database architectures, developing RESTful APIs, and deploying
                applications to cloud platforms like Azure and AWS, I focus on
                creating efficient and user-friendly solutions. I thrive on
                solving complex problems and collaborating with teams to bring
                ideas to life.</text
              >
            </div>
            <div class="full-btn-cont">
              <a href="mailto:manabran501@gmail.com" class="black-btn">
                Let's Connect!</a
              >
            </div>
          </section>

          <section class="experience" id="experience">
            <div class="text-3xl py-3 font-bold">Experience</div>
            <div class="project-cont">
              <img class="company-img" src="images/Agramont.png" />
              <div class="post-description">
                <h1 class="text-xl py-1">
                  Agramont Worldwide Logistics Inc - Software Developer
                </h1>
                <p class="description">September 2023 - Present</p>
                <p class="description">
                  Developed and maintain a Yard Management System (YMS) to track
                  over 500 vehicles, including trailers and trucks, across
                  multiple locations. Leveraged Django REST Framework for
                  efficient API design and integrated React.js for building
                  user-friendly dashboards tailored to each department, ensuring
                  seamless data transactions and image handling.
                </p>
              </div>
            </div>
          </section>

          <!-- Skills section -->
          <section class="skills" id="skills">
            <div class="text-3xl py-3 font-bold">Skills</div>
            <div class="skills-menus">
              <div class="skills-cont">
                <div class="skill-category">Languages</div>
                <ul class="skills-list">
                  <li class="skills-item">
                    <img
                      src="https://cdn.jsdelivr.net/npm/programming-languages-logos/src/python/python.png"
                      width="50"
                      alt="Python Logo"
                    />
                    Python
                  </li>
                  <li class="skills-item">
                    <img
                      src="https://cdn.jsdelivr.net/npm/programming-languages-logos/src/javascript/javascript.png"
                      width="50"
                      alt="JavaScript Logo"
                    />
                    JavaScript
                  </li>
                  <li class="skills-item">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/en/3/30/Java_programming_language_logo.svg"
                      width="50"
                      alt="Java Logo"
                    />
                    Java
                  </li>
                </ul>
              </div>
              <div class="skills-cont">
                <div class="skill-category">Frameworks</div>
                <ul class="skills-list">
                  <li class="skills-item">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg"
                      width="50"
                      alt="React Logo"
                    />
                    React
                  </li>
                  <li class="skills-item">
                    <svg class="dev-icon" viewBox="0 0 128 128" fill="#0C4B33">
                      <path
                        d="M59.448 0h20.93v96.88c-10.737 2.04-18.62 2.855-27.181 2.855-25.551-.001-38.87-11.551-38.87-33.705 0-21.338 14.135-35.2 36.015-35.2 3.398 0 5.98.272 9.106 1.087zm0 48.765c-2.446-.815-4.485-1.086-7.067-1.086-10.6 0-16.717 6.523-16.717 17.939 0 11.145 5.845 17.26 16.582 17.26 2.309 0 4.212-.136 7.202-.542z"
                      ></path>
                      <path
                        d="M113.672 32.321V80.84c0 16.717-1.224 24.735-4.893 31.666-3.398 6.661-7.883 10.873-17.124 15.494l-19.435-9.241c9.242-4.35 13.726-8.153 16.58-14 2.99-5.979 3.943-12.91 3.943-31.122V32.321zM92.742.111h20.93v21.474h-20.93z"
                      ></path>
                    </svg>
                    Django
                  </li>
                </ul>
              </div>
              <div class="skills-cont">
                <div class="skill-category">Databases</div>
                <ul class="skills-list">
                  <li class="skills-item">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg"
                      width="50"
                      alt="PostgreSQL Logo"
                    />
                    PostgreSQL
                  </li>
                  <li class="skills-item">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Database-mysql.svg"
                      width="50"
                      alt="MySQL Text Logo"
                    />
                    MySQL
                  </li>
                </ul>
              </div>
              <!-- <ul class="skills-list">
                <li class="skills-item">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Microsoft_Azure_Logo.svg"
                    width="50"
                    alt="Azure Logo"
                  />
                  Azure
                </li>
                <li class="skills-item">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg"
                    width="50"
                    alt="AWS Logo"
                  />
                  AWS
                </li>
              </ul> -->
            </div>
          </section>

          <section class="projects" id="projects">
            <div class="text-3xl py-3 font-bold">Latest projects &lt;/&gt;</div>
            <a
              class="project-cont"
              href="https://baltamirano-multtablesgame.netlify.app/"
            >
              <img class="post-img" src="images/times-tables.png" />
              <div class="post-description">
                <h1 class="text-xl py-1">Times Tables Game</h1>
                <p class="description">
                  JavaScript game to test your times tables knowledge. Get as
                  many correct as you can in 60 seconds.
                </p>
              </div>
            </a>
            <a
              class="project-cont"
              href="https://baltamirano-password-generator.netlify.app/"
            >
              <img class="post-img" src="images/password-generator.png" />
              <div class="post-description">
                <h1 class="text-xl py-1">Password Generator</h1>
                <p class="description">
                  Static JavaScript page for generating a random password based
                  on user requirements.
                </p>
              </div>
            </a>
          </section>

          <section class="contact"></section>
        </main>
      </div>
    </div>
  </body>
</html>
