body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #a5adbb;
}

.container {
    display: flex;
    height: 100vh;
}

section {
    margin-bottom: 2rem;
}

.sidebar {
    width: 300px;
    background-color: #191e23;
    padding: 20px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar li {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    border-radius: 6px;
    padding: 12px;
    transition: 0.2s;
}

.sidebar-link a {
    color: #a5adbb;
    text-decoration: none;
}

.sidebar-link.active {
    background-color: #15191e;
}

.sidebar li:hover {
    background-color: #8f8f8f3a;
}

.menu {
    flex: 1;
}

.content-cont {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1d232a;
    box-sizing: border-box;
    overflow-y: auto;
}

.content {
    width: 100%;
    max-width: 900px;
}

.sidebar-content {
    width: 100%;
    margin: auto 0;
}

.sidebar-img {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sidebar-socials {
    width: 100%;
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.sidebar-socials a {
    color: inherit;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.font-bold {
    font-weight: 700;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.py-2 {
    margin-bottom: 1.5rem;
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.full-btn-cont {
    display: flex;
    gap: 16px;
}

.margin-top {
    margin-top: 5rem;
}

.gray-btn,
.black-btn {
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 12px;
}

.black-btn {
    color: #ffff;
    background-color: #191e24;
}

.gray-btn {
    color: #FFFF;
    background-color: #1d232a;
    border: 1px solid #a6adbb;
}

.project-cont {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    padding: 1rem;
    flex-direction: row;
}

.post-img {
    max-width: 13rem;
    height: auto;
    display: block;
}

.post-description {
    flex-grow: 1;
}