html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #a5adbb;
}

a {
    text-decoration: none;
    color: #a5adbb;
}

.navbar {
    display: none;
}

.container {
    display: flex;
    height: 100vh;
}

section {
    margin-bottom: 2rem;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: #191e23;
    padding: 20px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.3s ease-in-out;
    z-index: 1001;
}

#menu-toggle {
    background-color: none;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul a {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    border-radius: 6px;
    padding: 12px;
    transition: 0.2s;
}

.sidebar-link {
    color: #a5adbb;
    text-decoration: none;
}

.sidebar-link.active {
    background-color: #15191e;
}

.sidebar-link:hover {
    background-color: #8f8f8f3a;
}

.menu {
    flex: 1;
}

.content-cont {
    flex: 1;
    display: flex;
    margin-left: 18.75rem;
    justify-content: center;
    background-color: #1d232a;
    box-sizing: border-box;
    overflow-y: auto;
}

.content {
    width: 100%;
    max-width: 900px;
}

.sidebar-content {
    width: 100%;
    margin: auto 0;
}

.sidebar-img {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sidebar-socials {
    width: 100%;
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.sidebar-socials a {
    color: inherit;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.font-bold {
    font-weight: 700;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.py-2 {
    margin-bottom: 1.5rem;
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.full-btn-cont {
    display: flex;
    gap: 16px;
}

.margin-top {
    margin-top: 3rem;
}

.gray-btn,
.black-btn {
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 12px;
}

.black-btn {
    color: #ffff;
    background-color: #191e24;
    transition: 0.2s ease-in;
}

.black-btn:hover {
    background-color: #0f1215;
}

.gray-btn {
    color: #FFFF;
    background-color: #1d232a;
    border: 1px solid #a6adbb;
}

.project-cont {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 1rem;
    flex-direction: row;
    text-decoration: none;
    color: #a5adbb;
    flex-wrap: nowrap;
}

.my-0 {
    margin: 0;
    padding: 0;
}

.post-img {
    max-width: 13rem;
    height: auto;
    display: block;
    border-radius: 8px;
}

.company-img {
    max-width: 13rem;
    height: auto;
    display: block;
}

.post-description {
    flex-grow: 1;
}

.skills-menus {
    display: flex;
}

.skills-list {
    list-style: none;
}

.skill-category {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
}

.skills-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}

.skills-menus {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .content-cont {
        margin-left: 0;
        padding: 0 12px;
    }
    .sidebar {
        left: -300px;
    }
    .sidebar.active {
        left: 0;
    }
    .navbar {
        display: flex;
        position: fixed;
        background-color: #1d232ae6;
        width: 100%;
        margin: 0;
        font-size: 24px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .navbar svg {
        cursor: pointer;
    }
    
    .nav-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 24px 24px;
        align-items: center;
    }
    /* Overlay effect */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Dark overlay effect */
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
        z-index: 1000; /* Behind sidebar */
    }

    /* Show overlay when sidebar is active */
    .sidebar.active ~ .overlay {
        opacity: 1;
        visibility: visible;
    }

}

@media (max-width: 712px) {
    .project-cont {
        flex-wrap: wrap;
    }
    .post-img {
        max-width: 100%;
    }
}

@media (max-width: 678px) {
    .skills-menus {
        flex-wrap: wrap;
        justify-content: center;
    }
}